$white: #F2F2F2;
$light: #B8B8BF;
$green: #1A2601;
$darkBrown: #402C20;
$ligthBrown: #734E40;
$black: #0D0D0D;

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600;700;800;900');